<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>

<form id="restablecerContraseñaForm">
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" name="newPassword" id="newPassword" required>

    <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required>

    <button type="submit">Restablecer Contraseña</button>
</form>

{{!-- <script src="/src/public/reset-password-form.js"></script> --}}
<script>

    document.getElementById('restablecerContraseñaForm').addEventListener('submit', function (event) {
    event.preventDefault();

    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    // se valida si la nueva contraseña coincide con el segundo ingreso de contraseña
    if (newPassword !== confirmPassword) {
        alert('Las contraseñas no coinciden. Por favor, inténtalo de nuevo.');
        return;
    }

    // Obtener el token de la URL
    //console.log("URL completa:", window.location.href);
    //const urlParams = new URLSearchParams(window.location.search);
    //const token = urlParams.get('token'); 
    const token = window.location.pathname.split('/').pop();
    console.log("Token antes de la solicitud fetch:", token);

    // Realizar la solicitud POST al servidor
    fetch(`/reset-password/${encodeURIComponent(token)}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ newPassword, token }),
    })
    .then(response => response.json())
    .then(
        console.log("Información de restablecimiento de contraseña enviada")
    )
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
</body>
</html>

