<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
</head>
<body>
    <h3>Ingrese su correo electrónico para enviar enlace de restablecimiento de contraseña</h3>
    <form id="restablecerForm">
        <input type="text" name="email" id="email" placeholder="Ingrese Email">
        
        <button type="submit">Enviar correo</button>
    </form>

    <a href="/register">Registrarse</a>
    <a href="/index">Login</a>
    <script src="/restablecer.js"></script>

</body>
</html>